@{
    ViewData["Title"] = "Guardiões da Galáxia";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-guardioes-da-galaxia.jpg);}</style>
  <h3>Guardiões da Galáxia</h3>
  <p>O aventureiro do espaço Peter Quill torna-se presa de caçadores de recompensas depois que rouba
       a esfera de um vilão traiçoeiro, Ronan. Para escapar do perigo, ele faz uma aliança com um grupo
        de quatro extraterrestres. Quando Quill descobre que a esfera roubada possui um poder capaz de mudar
         os rumos do universo, ele e seu grupo deverão proteger o objeto para salvar o futuro da galáxia.
</p>
<iframe src="https://drive.google.com/file/d/1md86TXl0rvPOwowIawRVTXgFWtPtvCjX/preview" width="640" height="480" allowfullscreen></iframe>
       </div>