@{
ViewData["Title"] = "O Poderoso Chefão";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-o-poderoso-chefao.jpg);}</style>
  <h3>O Poderoso Chefão</h3>
  <p>Uma família mafiosa luta para estabelecer sua supremacia nos Estados Unidos depois da Segunda Guerra Mundial.
       Uma tentativa de assassinato deixa o chefão Vito Corleone incapacitado e força os filhos Michael e Sonny a assumir
        os negócios.</p>
        <iframe src="https://drive.google.com/file/d/1mw4MLTEvHbnCzUdA1ORTw5P7GfF3H_QZ/preview" width="640" height="480" allowfullscreen></iframe>
       </div>