@{
    ViewData["Title"] = "Friday";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-sexta-feira-em-apuros.jpg);}</style>
  <h3>Sexta-Feira em Apuros</h3>
  <p>É sexta-feira e Craig foi despedido, seu aluguel está vencendo e ele não aguenta mais a namorada ciumenta.
       Pra completar, seu amigo Smokey está encrencado com um violento traficante a quem deve dinheiro. Sentados
        na varanda da casa, os dois passam o tempo enquanto Smokey não pára de falar um só segundo e tentam achar
         um jeito de levantar a grana.</p>
         <iframe src="https://drive.google.com/file/d/14Ze_gehlscPYydAQQtmFlRsL8wMJc5sn/preview" width="640" height="480" allowfullscreen></iframe>
       </div>