@{
    ViewData["Title"] = "De Volta Para O Futuro 3";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-de-volta-para-o-futuro-3.jpg);}</style>
  <h3>De Volta Para o Futuro 3</h3>
  <p>Marty recebe uma mensagem do Dr. Emmett Brown, na qual ele informa que agora vive em uma pequena cidade do Velho Oeste, em 1885. Quando Marty descobre
       que Doc acabará sendo assassinado dias após o envio da carta, ele decide voltar no tempo mais uma vez para salvar seu amigo deste trágico destino.</p>
       <iframe src="https://drive.google.com/file/d/1H2VNh06R7CwBYvdnkDQghQqn2qyzw1OX/preview" width="640" height="480" allowfullscreen></iframe>
       </div>