@{
    ViewData["Title"] = "Jurassic World - O Mundo dos Dinossauros";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-jurassic-world.jpg);}</style>
  <h3>Jurassic World - O Mundo dos Dinossauros</h3>
  <p>O Parque dos Dinossauros está aberto para visitação, e o público tem a chance de ver de perto as mais diversas espécies.
       Porém, um desses animais, resultado de experiência genética, desenvolve alta inteligência e se torna uma ameaça para todos.</p>
       <iframe src="https://drive.google.com/file/d/1wkhsIJCTRpZHsNER8OW9KezAumJ2ZGZf/preview" width="640" height="480" allowfullscreen></iframe>
       </div>