@{
    ViewData["Title"] = "Liga da Justiça";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-liga-da-justica.jpg);}</style>
  <h3>Liga da Justiça</h3>
  <p>Impulsionado pela restauração de sua fé na humanidade e inspirado pelo ato altruísta do Superman, Bruce Wayne
       convoca sua nova aliada Diana Prince para o combate contra um inimigo ainda maior, recém-despertado. Juntos,
        Batman e Mulher-Maravilha buscam e recrutam com agilidade um time de meta-humanos, mas mesmo com a formação
         da liga de heróis sem precedentes, poderá ser tarde demais para salvar o planeta de um catastrófico ataque.</p>
         <iframe src="https://drive.google.com/file/d/1BRQR5wRcTtfMqFcqcWfDNPPi2tPXc82b/preview" width="640" height="480" allowfullscreen></iframe>
       </div>