@{
    ViewData["Title"] = "Tron";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-tron.jpg);}</style>
  <h3>Tron - O Legado</h3>
  <p>Sam, filho do famoso programador de jogos de computador Kevin Flynn, é assombrado há
       muito tempo pelo misterioso desaparecimento do pai. Um sinal estranho leva Sam ao fliperama
        de Flynn, onde é puxado para dentro de um mundo cibernético, o mesmo em que seu pai está preso
         há 20 anos. Sem receio, o guerreiro Quorra, Kevin e Sam procuram escapar de um universo que, embora
          magnífico, é muito mais avançado e perigoso do que Kevin tinha imaginado.
</p>
<iframe src="https://drive.google.com/file/d/1cO65beddqBS1Pgj5QK32VEt1q6RaOZHm/preview" width="640" height="480" allowfullscreen></iframe>
       </div>