@{
    ViewData["Title"] = "Gladiador";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-gladiador.jpg);}</style>
  <h3>Gladiador</h3>
  <p>Quatro adolescentes encontram um videogame cuja ação se passa em uma floresta tropical. Empolgados
       com o jogo, eles escolhem seus avatares para o desafio, mas um evento inesperado faz com que eles
        sejam transportados para dentro do universo fictício, transformando-os nos personagens da aventura.</p>
        <iframe src="https://drive.google.com/file/d/1QHk4eKcFOSGGrFij2vQ8RDNqILPSVexi/preview" width="640" height="480" allowfullscreen></iframe>
       </div>