@{
    ViewData["Title"] = "O Rei Leão";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-o-rei-leao.jpg);}</style>
  <h3>O Rei Leão</h3>
  <p>Traído e exilado de seu reino, o leãozinho Simba precisa descobrir como crescer e 
      retomar seu destino como herdeiro real nas planícies da savana africana.</p>
        <iframe src="https://drive.google.com/file/d/1Log6-ryb3KehCn5iz1BLirtsH0zYHKz9/preview" width="640" height="480" allowfullscreen></iframe>
       </div>