@{
    ViewData["Title"] = "Velozes e Furiosos 4";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-velozes-e-furiosos-4.jpg);}</style>
  <h3>Velozes e Furiosos 4</h3>
  <p>Dominic Toretto descobre que sua amada Letty foi assassinada e resolve procurar pelo autor do
       crime. Enquanto isso, o agente Brian O'Conner está em busca de um traficante de drogas. Eles
        percebem que talvez procurem a mesma pessoa.</p>
        <iframe src="https://drive.google.com/file/d/1q1sjnw2L3XHUWinrvLGDLT-EdjARPa1D/preview" width="640" height="480" allowfullscreen></iframe>
       </div>