@{
    ViewData["Title"] = "E.T - O Extraterrestre";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-et.jpg);}</style>
  <h3>E.T - O Extraterrestre</h3>
  <p>O garoto Elliott faz amizade com um pequeno alienígena inofensivo que está bem longe do seu planeta.
       Ele decide manter a adorável criatura em segredo e em casa após apresentá-la aos irmãos.
</p>
       <iframe src="https://drive.google.com/file/d/1ozPfLh88ogCNUnwB4vEHyzW4JvqXH8_H/preview" width="640" height="480" allowfullscreen></iframe>
       </div>