@{
    ViewData["Title"] = "A Fantástica Fábrica De Chocolate";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-a-fantastica-fabrica-de-chocolate.jpg);}</style>
  <h3>A Fantástica Fábrica de Chocolate</h3>
  <p>Baseado no conto de Roald Dahl, este cômico e fantástico filme segue o jovem Charlie Bucket e seu avô Joe.
       Eles se juntam a um pequeno grupo de ganhadores de uma competição, os quais vão para um passeio na mágica
        e misteriosa fábrica do excêntrico Willy Wonka. Ajudado por seus anões trabalhadores, Wonka esconde uma
         surpresa para durante o passeio.</p>
         <iframe src="https://drive.google.com/file/d/1AluNIqyqj0vx_zMZ3cT77bOfSqkYNVUm/preview" width="640" height="480" allowfullscreen></iframe>
       </div>