@{
    ViewData["Title"] = "O Senhor Dos Anéis - As Duas Torres";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-sonic.jpg);}</style>
  <h3>Sonic</h3>
  <p>Sonic, o porco-espinho azul mais famoso do mundo, se junta com os seus amigos para derrotar o terrível
       Doutor Eggman, um cientista louco que planeja dominar o mundo, e o Doutor Robotnik, responsável por
        aprisionar animais inocentes em robôs.</p>
        <iframe src="https://drive.google.com/file/d/1S_7b5URDT86Z3SRUIPaCFnk2iWkC2KF2/preview" width="640" height="480" allowfullscreen></iframe>
       </div>