@{
    ViewData["Title"] = "Jumanji - Bem-vindo à Selva";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-jumanji-bem-vindo-a-selva.jpg);}</style>
  <h3>Jumanji - Bem-vindo à Selva</h3>
  <p>Quatro adolescentes encontram um videogame cuja ação se passa em uma floresta tropical. Empolgados
       com o jogo, eles escolhem seus avatares para o desafio, mas um evento inesperado faz com que eles
        sejam transportados para dentro do universo fictício, transformando-os nos personagens da aventura.</p>
        <iframe src="https://drive.google.com/file/d/1ZQ1Rx0Q0I018NWZkxZfu60aA9r2K3qYu/preview" width="640" height="480" allowfullscreen></iframe>
       </div>