@{
    ViewData["Title"] = "Pulp Fiction";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-pulp-fiction.jpg);}</style>
  <h3>Pulp Fiction - Tempo de Violência</h3>
  <p>Os caminhos de vários criminosos se cruzam nestas três histórias de Quentin Tarantino. Um pistoleiro
       se apaixona pela mulher de seu chefe, um boxeador não se sai bem em uma luta e um casal tenta executar
        um plano de roubo que foge do controle.
</p>
<iframe src="https://drive.google.com/file/d/109tJQIDY76F9RmegPcMVOZQSBCYMperx/preview" width="640" height="480" allowfullscreen></iframe>
       </div>