@{
    ViewData["Title"] = "O Resgate do Soldado Ryan";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-o-resgate-do-soldado-ryan.jpg);}</style>
  <h3>O Resgate do Soldado Ryan</h3>
  <p>Ao desembarcar na Normandia, no dia 6 de junho de 1944, o Capitão Miller recebe a missão de comandar um grupo do Segundo Batalhão para
       o resgate do soldado James Ryan, o caçula de quatro irmãos, dentre os quais três morreram em combate. Por ordens do chefe George C. Marshall,
        eles precisam procurar o soldado e garantir o seu retorno, com vida, para casa.</p>
        <iframe src="https://drive.google.com/file/d/1z_hWepEQGfmw4tfU9a_SSzEmD-sT1MEh/preview" width="640" height="480" allowfullscreen></iframe>
       </div>