@{
    ViewData["Title"] = "John Carter - Entre Dois Mundos";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-john-carter.jpg);}</style>
  <h3>John Carter - Entre Dois Mundos</h3>
  <p>Quando o veterano da Guerra Civil John Carter acorda misteriosamente na superfície de Marte, ele não tem 
      ideia da aventura que o aguarda. Ele acaba se envolvendo em um conflito épico entre os habitantes do planeta
       e o destino de todos está em suas mãos.</p>
       <iframe src="https://drive.google.com/file/d/1kvbk-kulF744boFdutznEpz0uAbCSYf8/preview" width="640" height="480" allowfullscreen></iframe>
       </div>