@{
    ViewData["Title"] = "Os Fantasmas se Divertem";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-os-fantasmas-se-divertem.jpg);}</style>
  <h3>Os Fantasmas se Divertem</h3>
  <p>Depois de morrerem em um acidente de carro, Bárbara e Adam Maitland se encontram presos, assombrando sua antiga casa.
       Quando uma nova família e sua filha adolescente, Lydia, mudam para a residência, o casal de fantasmas tenta, sem sucesso,
        assustar os novos moradores. Suas tentativas de assombração atraem um espírito espalhafatoso, cuja ajuda se torna perigosa
         tanto para o par de almas, quanto para a inocente Lydia.</p>
         <iframe src="https://drive.google.com/file/d/1htAOtKSTiZT9wx7W_b10YEunP_Bry62p/preview" width="640" height="480" allowfullscreen></iframe>
       </div>