@{
    ViewData["Title"] = "X-Men Apocalipse";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-x-men-apocalipse.jpg);}</style>
  <h3>X-Men - Apocalipse</h3>
  <p>O primeiro mutante destruidor do mundo, Apocalipse, está de volta disposto a acabar com a humanidade.
       Professor Xavier conta com Mística, Fera e Mercúrio, além de novos alunos, para impedir o vilão.</p>
       <iframe src="https://drive.google.com/file/d/13P6b1C7LPm7wFkPIELPjBLN2vFRamCtV/preview" allowfullscreen width="640" height="480"></iframe>
       </div>