@{
ViewData["Title"] = "Coringa";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-coringa.jpg);}</style>
  <h3>Coringa</h3>
  <p>Isolado, intimidado e desconsiderado pela sociedade, o fracassado comediante Arthur Fleck inicia seu caminho como
       uma mente criminosa após assassinar três homens em pleno metrô. Sua ação inicia um movimento popular contra a elite
        de Gotham City, da qual Thomas Wayne é seu maior representante.</p>
        <iframe src="https://drive.google.com/file/d/1iSdG8r841XggFlTBowssrVgmzh1YAyCn/preview" width="640" height="480" allowfullscreen></iframe>
       </div>