@{
    ViewData["Title"] = "O Senhor Dos Anéis - As Duas Torres";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-o-senhor-dos-aneis-as-duas-torres.jpg);}</style>
  <h3>O Senhor dos Anéis - As Duas Torres</h3>
  <p>Após a captura de Merry e Pippy pelos orcs, a Sociedade do Anel é dissolvida. Frodo e Sam seguem sua jornada
       rumo à Montanha da Perdição para destruir o anel e descobrem que estão sendo perseguidos pelo misterioso Gollum.
        Enquanto isso, Aragorn, o elfo e arqueiro Legolas e o anão Gimli partem para resgatar os hobbits sequestrados e
         chegam ao reino de Rohan, onde o rei Theoden foi vítima de uma maldição mortal de Saruman.</p>
         <iframe src="https://drive.google.com/file/d/1QYETU-i5gwdNaXbXjcbKNWuhvScF1tzQ/preview" width="640" height="480" allowfullscreen></iframe>
       </div>