@{
    ViewData["Title"] = "Alien - O 8º Passageiro";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-alien-o-oitavo-passageiro.jpg);}</style>
  <h3>Alien - O 8º Passageiro</h3>
  <p>Uma nave espacial, ao retornar para Terra, recebe estranhos sinais vindos de um asteroide. Enquanto a
       equipe investiga o local, um dos tripulantes é atacado por um misterioso ser. O que parecia ser um ataque isolado
        se transforma em um terror constante, pois o tripulante atacado levou para dentro da nave o embrião de um alienígena,
         que não para de crescer e tem como meta matar toda a tripulação.</p>
         <iframe src="https://drive.google.com/file/d/1vF406hl0-PE3dCHPvuRw5M0sSXJ8TxhX/preview" width="640" height="480" allowfullscreen></iframe>
       </div>