@{
    ViewData["Title"] = "Detona Ralph";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-detona-ralph.jpg);}</style>
  <h3>Detona Ralph</h3>
  <p>Ralph está cansado de ser desprezado no seu próprio jogo de fliperama. Para ganhar a atenção do herói
       Felix e todos os outros personagens, o vilão tem um plano e sai em busca de uma medalha, com a intenção
        de provar o seu valor.</p>
        <iframe src="https://drive.google.com/file/d/1U-6TrnbuXtwRo2IWQQwgBgERlpIHs1E9/preview" width="640" height="480" allowfullscreen></iframe>
       </div>