@{
    ViewData["Title"] = "Piratas do Caribe - A Vingança de Salazar";
}


<div class="banner">
  <style>.banner{background-image: url(../banners/banner-piratas-do-caribe-a-maldicao-de-salazar.jpg);}</style>
  <h3>Piratas do Caribe - A Vingança de Salazar</h3>
  <p>O capitão Salazar é a nova pedra no sapato do capitão Jack Sparrow. Ele lidera um exército de piratas fantasmas
       assassinos e está disposto a matar todos os piratas existentes na face da Terra. Para escapar, Sparrow precisa encontrar
        o Tridente de Poseidon, que dá ao seu dono o poder de controlar o mar.</p>
        <iframe src="https://drive.google.com/file/d/14rirZ7mjzQDRlv3OO_x_F7dx0karJ9PG/preview" width="640" height="480" allowfullscreen></iframe>
       </div>