@{
    ViewData["Title"] = "Avatar";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-avatar.jpg);}</style>
  <h3>Avatar</h3>
  <p>No exuberante mundo alienígena de Pandora vivem os Na'vi, seres que parecem ser primitivos, mas são altamente evoluídos. Como o
       ambiente do planeta é tóxico, foram criados os avatares, corpos biológicos controlados pela mente humana que se movimentam livremente
        em Pandora. Jake Sully, um ex-fuzileiro naval paralítico, volta a andar através de um avatar e se apaixona por uma Na'vi. Esta paixão
         leva Jake a lutar pela sobrevivência de Pandora.</p>
       <iframe src="https://drive.google.com/file/d/1e7NfWzFwpeyRy6esuIZw7f2makIIWOLS/preview" allowfullscreen width="640" height="480"></iframe>
       </div>