@{
    ViewData["Title"] = "Alice no País das Maravilhas";
}


<div class="banner">
  <style>.banner{background-image: url(../banners/banner-alice-no-pais-das-maravilhas.jpg);}</style>
  <h3>Alice no País das Maravilhas</h3>
  <p>Ainda garotinha, Alice Kingsleigh visitou um lugar mágico pela primeira vez e não tinha mais lembranças sobre o local a não ser em seus sonhos.
       Em uma festa da nobreza, a jovem vê um coelho branco. Alice o segue e cai em um buraco, indo parar em um mundo estranho: o País das Maravilhas.
        Lá, ela reencontra personagens que estavam guardados em sua memória através dos sonhos.</p>
        <iframe src="https://drive.google.com/file/d/1Ki8pa22uyemF_b3xbblDJudqkNYHlKYB/preview" width="640" height="480" allowfullscreen></iframe>
       </div>