@{
    ViewData["Title"] = "Os Vingadores - Ultimato";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-os-vingadores-ultimato.jpg);}</style>
  <h3>Os Vingadores - Ultimato</h3>
  <p>Após Thanos eliminar metade das criaturas vivas, os Vingadores têm de lidar com a perda de amigos e entes queridos.
       Com Tony Stark vagando perdido no espaço sem água e comida, Steve Rogers e Natasha Romanov lideram a resistência
        contra o titã louco.</p>
        <iframe src="https://drive.google.com/file/d/1Log6-ryb3KehCn5iz1BLirtsH0zYHKz9/preview" width="640" height="480" allowfullscreen></iframe>
       </div>