@{
  ViewData["Title"] = "Home";
}

<section class="secondary-banner"></section>

<section class="primary-banner">
  <div class="banner-items">
    <h3>Os Melhores Filmes e Séries</h3>
    <p>Assista aos melhores conteúdos da TV e cinema de forma gratuita e sem anúncios. Aqui você pode
      escolher entre uma enorme variedade de filmes e séries e ainda realizar pedidos diretamente para
      nossa equipe, dando a sua opnião sobre a nossa página e fazendo sugestões de novos filmes e séries.</p>
    <div class="banner-buttons">
      <button onclick="login()">Faça Login</button>
      <button onclick="cadastrar()">Cadastre-se</button>
    </div>
  </div>
</section>

<style>
  .secondary-banner {
    background-image: url(../img/banner-img.jpg);
  }

  .primary-banner {
    background-image: url(../img/banner.jpg);
  }
</style>


<div class="destaques">
  <div id="destaque01" class="destaque-content">
    <img src="~/img/destaque-movie.png" alt="Pipoca e Refrigerante">
    <p>Conteúdo de Qualidade</p>
  </div>
  <div id="destaque02" class="destaque-content">
    <img src="~/img/destaque-anuncios.png" alt="Megafone">
    <p>Assista sem Anúncios</p>
  </div>
  <div id="destaque03" class="destaque-content">
    <img src="~/img/destaque-phone.png" alt="Celular">
    <p>Veja tudo pelo Celular</p>
  </div>
  <div id="destaque04" class="destaque-content">
    <img src="~/img/destaque-mensagem.png" alt="Mensagem">
    <p>Mande a sua Sugestão</p>
  </div>
</div>

<script>
  ScrollReveal().reveal('#destaque01')
  ScrollReveal().reveal('#destaque02', { delay: 150 })
  ScrollReveal().reveal('#destaque03', { delay: 300 })
  ScrollReveal().reveal('#destaque04', { delay: 450 })
</script>
