@{
    ViewData["Title"] = "Falling Skies";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-falling-skies.jpg);}</style>
  <h3>Falling Skies</h3>
  <p>A Terra está quase inteiramente destruída devido a uma grande invasão alienígena. Os seres extraterrestres tem objetivos misteriosos, capturam crianças e adolescentes e intervem em seus corpos. Em Boston,
       um grupo de humanos se organiza para resistir e impedir o avanço dos invasores.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1Q9CtLChEfVi4xlRfUOW6h5vfIOBb03xn?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1gdgY1fB1nwCeDdZBmmWbikFKvuAnD7Ld?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/14_xt_fO_KCR_-BtioOTYR7u0pjGGfs_g?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1qw1ZidzA_vpioKezQu0J9xo17oCTpiPt?usp=sharing" target="_blank">4ª Temporada</a></li>
     
      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>