@{
    ViewData["Title"] = "Sons of Anarchy";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-sons-of-anarchy.jpg);}</style>
  <h3>Sons of Anarchy</h3>
  <p>A história acompanha um motoclube que vigia a cidade de Charming – norte da California, cujo os membros tentam proteger sua cidade natal
       de gangues rivais enquanto traficam armas de fogo.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1IkhtfOkW8fvq5QKNmpgaxm7HmxLOv_zQ?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1wfkL5BM0e_XPrJ-AWCrz_gR44QwGYLWX?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1MoZ4Gy3o7cwR1tnrtaMCRsEuEZJZxYji?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1z9XgkZq4yrkgaMTHjp_7wicT65f3cUUQ?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1c6-VRvyzzgrCaURtcpeKlOrs3rFA4gQc?usp=sharing" target="_blank">5ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/10E3LbUFnLEZnUa5Rd0xfBo_1BsBX6L1e?usp=sharing" target="_blank">6ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Nb_j0WfSxZZwJR50N9YLoBXTdPcAgKED?usp=sharing" target="_blank">7ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>