@{
    ViewData["Title"] = "Punho de Ferro";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-punho-de-ferro.jpg);}</style>
  <h3>Punho de Ferro</h3>
  <p>Por 15 anos, todos acreditaram que ele estava morto, após um acidente de avião no Himalaia que vitimou seus pais, Wendell e Heather Rand. Mas Danny foi salvo e viveu todo esse tempo na cidade mística de K'un-Lun, uma das Sete Capitais do Céu.
       Lá, Danny aprendeu a canalizar o seu chi e se tornou o Punho de Ferro.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/10PMC0FyxGDEhoR2WDcEPq-poY0xma09d?usp=sharing" target="_blank">1ª Temporada</a></li>
    <li> <a href="https://drive.google.com/drive/folders/15yBNubq8HUFeURhImMbx7ed9Mew7YT-P?usp=sharing" target="_blank">2ª Temporada</a></li>
      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

.banner {
    padding-bottom: 160px;
}

 </style>