@{
    ViewData["Title"] = "Friends";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-friends.jpg);}</style>
  <h3>Friends</h3>
  <p>Seis jovens são unidos por laços familiares, românticos e, principalmente, de amizade, enquanto tentam vingar em Nova York. Rachel é a garota mimada que deixa o noivo no altar
       para viver com a amiga dos tempos de escola Monica, sistemática e apaixonada pela culinária.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1p_TbMp7_fTtkBRuJpX7nT5gKqL6GDAmt?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/15o4RFNdCfnppdf3NMrHEh38CNf2Fy2Gt?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1amINOGgjgDsyhRHfUW-9NW6opbkQcLU_?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1sCf-kvz3jzMfWbeTUav5mj8sTW1QIQrH?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1JD20R0G7MM84wiCmQYzciQ9ezCIWieli?usp=sharing" target="_blank">5ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1VZMeO2rVwWGkVhnG2ZDUHHKi1jgqgWO3?usp=sharing" target="_blank">6ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1pDOX25e-UBCEfMqcIu_vOGu_WEaZwNzy?usp=sharing" target="_blank">7ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1pDOX25e-UBCEfMqcIu_vOGu_WEaZwNzy?usp=sharing" target="_blank">8ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/13tgOOxt-HdsrLg5KQqQG_8z5RpYC-xkI?usp=sharing" target="_blank">9ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1u5L3pOCxKBOz7kSQRe_QLKJtuMhiEEXs?usp=sharing" target="_blank">10ª Temporada</a></li>
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>