@{
    ViewData["Title"] = "Hell On Wheels";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-hell-on-wheels.jpg);}</style>
  <h3>Hell On Wheels</h3>
  <p>Hell on Wheels é centrada em Cullen Bohannon (Anson Mount), ex-soldado confederado cujo desejo de vingança o levou a trabalhar no oeste, na construção da primeira ferrovia transcontinental. Anos após a guerra,
       esse empreendimento deseja conectar o próspero leste com o selvagem oeste.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1OP0xWDNL9W8fZufJNBdSPGGIX-0-yA49?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1tHJ0Oqh6Em3vR_dwWvUr0WC9HVtJce6X?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1UK8tSTuryslkLNwjG4SQ6vgYdECcUij2?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1rZupFZmN1UCFQX9nVvaF7wVBYy7PzJpd?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1zwMn5F8TcWCSLGsHAWQUKOn8N7PLP7YQ?usp=sharing" target="_blank">5ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>