@{
    ViewData["Title"] = "Narcos";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-narcos.jpg);}</style>
  <h3>Narcos</h3>
  <p>A série narra a vida de Pablo Escobar (Wagner Moura): seus desafios, conquistas e influência ao mesmo tempo que mostra dois agentes
        da DEA que buscam colocar o narcotraficante na cadeia.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1jtKt2tmnhuRqpznYwFvnLuiACJJpFKFn?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/146lsWxKECWlITHHmd8A88jX2JN_U6zVh?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1rtkQ9TS1jEY15iO3M1mGpen9PV6PTqA0?usp=sharing" target="_blank">3ª Temporada</a></li>
    

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

.banner {
    padding-bottom: 140px;
}


 </style>