@{
    ViewData["Title"] = "La Casa de Papel";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-la-casa-de-papel.jpg);}</style>
  <h3>La Casa de Papel</h3>
  <p>A série conta a história de um grupo de criminosos da Espanha que tem o objetivo de assaltar
       a Casa da Moeda e faturar uma quantia quase bilionária sem serem pegos.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1eca6fRl1t5Fk6nBzkb4pcywhqfeSmMsV?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1sRxp7zZl-vg1nbmH3YjxaBwJzgBFFYsF?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1rWCTHYCwb-RTRkMgAopV_I6TZl1IOCEP?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1WJtkCUN35vVCQl_pOHKjRkSRrQqH4wlb?usp=sharing" target="_blank">4ª Temporada</a></li>
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>