@{
    ViewData["Title"] = "O Mandaloriano";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-o-mandaloriano.jpg);}</style>
  <h3>O Mandaloriano</h3>
  <p>Em O Mandaloriano, Din Djarin (Pedro Pascal) é um guerreiro solitário que trabalha como caçador de recompensa.
       Ele embarca numa jornada pelos territórios esquecidos da galáxia, logo após a queda do Império e antes da criação da temida Primeira Ordem.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1CQ3ZwiAgY7wi_wB7toOt4-jZQ8_0HROr?usp=sharing" target="_blank">1ª Temporada</a></li>
    <li> <a href="#" target="_blank">2ª Temporada</a></li>
      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

.banner {
    padding-bottom: 160px;
}

 </style>