@{
    ViewData["Title"] = "Star Trek";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-star-trek.jpg);}</style>
  <h3>Star Trek</h3>
  <p>Em 1964, Gene Roddenberry, um grande fã de ficção científica, esboçou uma proposta de uma série de televisão de ficção científica chamada de Star Trek. Ela se passaria a bordo de uma grande nave
       estelar cuja tripulação se dedicaria a exploração de uma parte da Via Láctea.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1qqNBgqT-4WPvlOKePMB2x6m2XoCItrhI?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Rn6DwwpSqt_MTfvKKMeIlmHlxRS4TdHu?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Ba8Rb25UI8BbT8hVCYkVro_hd_kX2xRD?usp=sharing" target="_blank">3ª Temporada</a></li>
      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>