@{
    ViewData["Title"] = "Vikings";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-vikings.jpg);}</style>
  <h3>Vikings</h3>
  <p>Vikings segue a vida de Ragnar Lothbrok (Travis Fimmel), o maior guerreiro da sua era. Lider de seu bando, com seus irmãos e sua família, ele ascende ao poder e torna-se Rei da tribo dos vikings.
       Além de guerreiro implacável, Ragnar segue as tradições nórdicas e é devoto dos deuses.</p>
      
 <ul class="series-list">
    <li><a href="https://drive.google.com/drive/folders/1MySXf1u4gudURkn4hHWdpVeQBqkyvTTB?usp=sharing" target="_blank">1ª Temporada</a></li>
    <li> <a href="https://drive.google.com/drive/folders/1NKYOw-3g0-e1tZFQCC6Psz65ZJZsQW4M?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1dueHtBlw5u_kWLCMViUO04GmFbh5Z4RO?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1lKgc47vtyrkfEkPO6WTgbmJ6bKuewhWQ?usp=sharing" target="_blank">4ª Temporada</a></li>
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>