@{
    ViewData["Title"] = "Stranger Things";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-stranger-things.jpg);}</style>
  <h3>Stranger Things</h3>
  <p>Em novembro de 1983, na pequena cidade de Hawkins, Indiana, um garoto de 12 anos, Will Byers desaparece misteriosamente. A mãe de Will, Joyce, torna-se frenética e tenta encontrar Will, enquanto o chefe de polícia Jim Hopper
       começa a investigar, assim como os amigos de Will: Mike, Dustin e Lucas.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1f87MC-O-XdHiKfzPdv9zIYA7Nr0Z3ixf?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/10L8oKmicT1dvmy0R_0-35gJmRMhpBVuW?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1HxbmquqiibHCEtr-EOFTBFcyngrWRu7G?usp=sharing" target="_blank">3ª Temporada</a></li>
      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>