@{
    ViewData["Title"] = "Boardwalk Empire";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-boardwalk-empire.jpg);}</style>
  <h3>Boardwalk Empire</h3>
  <p>Durante o período da Lei Seca Americana, na década de 1920, o tesoureiro de Atlantic City, Enoch 'Nucky' Thompson, mantém negócios com mafiosos e políticos da região.
       Ele logo entra no radar do Governo Federal, que investiga a corrupção e o dinheiro sujo que circula na cidade.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1c0eN8d_ulwIJCxG10Q4hSjWYsTnXb7zj?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1PfwCcE6FmNxJ7EcE8dFbK7iVOjQmVTZ4?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1OY-FLgmTFYBJt-HNsF7MdtlDmFpqF5h5?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1Zxj26znVQUx2aMk3N0uDCVwXKAyCzgws?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1_-TQjDoPMaV8P7vBdaBOwEy07iM1-4vE?usp=sharing" target="_blank">5ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>