@{
    ViewData["Title"] = "Spartacus";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-spartacus.jpg);}</style>
  <h3>Spartacus</h3>
  <p>A série Spartacus relata a história verídica do famoso escravo e gladiador que liderou uma revolta contra o império Romano. ... Contra todas as expectativas, Spartacus sobreviveu na arena
       e a partir daí tornou-se escravo também. Logo depois foi comprado por Batiatus para ser treinado como gladiador.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1n1yBSBVU5VRnqEJuffRJfMJgHw-_nfRD?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1s9eVz8CtAhPuspw9akfHl_ZFQ2bj0URK?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1gIBfqTanWOb25TtHjciNAox11UXyIA0Z?usp=sharing" target="_blank">3ª Temporada</a></li>
      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>