@{
    ViewData["Title"] = "Sobrenatural";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-sobrenatural.jpg);}</style>
  <h3>Sobrenatural</h3>
  <p>A série segue os irmãos Sam e Dean Winchester enquanto procuram por seu pai, John, que está caçando o demônio que matou a mãe deles e a namorada de Sam. Durante suas viagens, eles usam o
       diário de seu pai para ajudá-los a continuar o negócio da família—salvar pessoas e caçar criaturas sobrenaturais.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1bicv5GBerdTSHCBB4kvXcN6x4Y1pINPx?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1iIDFvEWsPpT4R1p9k0Dn-AhuMnv50Qyd?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1fZ6TC8hb1V7gV4qfHyx4OlwhtkGM_dX1?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1cNzoPagc-_UfwoapuMRytxQkFIficdO-?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1qs-U75BkF2tJbaaLVfP9ETgGwEC7sLcH?usp=sharing" target="_blank">5ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1c1HZaIYOWKpD_xDNXQ8fETTgfosI3dmo?usp=sharing" target="_blank">6ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1XSQ95k49uKV17HL-64ijM_fHCumL9lqA?usp=sharing" target="_blank">7ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1lonoWawlypRcWxbO_Sfl63tllJLujtnv?usp=sharing" target="_blank">8ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1LwwIlvkXsXMbzZNTRL_-wFle9GyDQkBz?usp=sharing" target="_blank">9ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1y-fbjzRuZFwX14uO16l-Fp86LUY-I1RJ?usp=sharing" target="_blank">10ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1M_lyb0lb9xI12WweJTEJ9zjIoYnqAGn_?usp=sharing" target="_blank">11ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1iPbVhv0SEkQXnoNZ3DY0c9NiOc3WpDx4?usp=sharing" target="_blank">12ª Temporada</a></li>
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>