@{
    ViewData["Title"] = "The Walking Dead";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-the-walking-dead.jpg);}</style>
  <h3>The Walking Dead</h3>
  <p>Baseada em uma HQ, The Walking Dead conta a história de um grupo de sobreviventes, liderados pelo xerife Rick Grimes (Andrew Lincoln), após um apocalipse zumbi.
       Toda a população da Terra é infectada por um vírus misterioso que transforma os mortos em zumbis.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/11gQNSL5Loblws28wMyZIum3fAoIm_ZgA?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1FpBO3oOZO4nSMN4RXw_WbuxNag5iu4Xt?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1MRaliKeoZqBonvSe56D_hlrdLAidq57Z?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Hp4K0x2KSC5CzWDeYUjWaWcp9seN7jaC?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Xb5cu_cGF84CWRIL5_DXwnaS9s5qmkbj?usp=sharing" target="_blank">5ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1c0dHTb0yHMeepn2lAV_1V6fJn6uwIFGz?usp=sharing" target="_blank">6ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Yv0QCEx20artM9nzOtr1dAr4Yb4lYSdZ?usp=sharing" target="_blank">7ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1GTGDXbKsVx-u08JHCU1-dWxeXutNLFzo?usp=sharing" target="_blank">8ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1IbmO0MjjMeZhEh5MNxiL_C1-flHu7XyE?usp=sharing" target="_blank">9ª Temporada</a></li>
    
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>