@{
    ViewData["Title"] = "Luke Cage";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-luke-cage.jpg);}</style>
  <h3>Luke Cage</h3>
  <p>Quando um experimento sabotado o dá super-força e pele impenetrável, Luke Cage se torna um fugitivo tentando reconstruir sua vida no Harlem, em Nova York,
       e deve em breve enfrentar seu passado e lutar pelo coração de sua cidade.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1_NZHOHCDAYI2oC014dPhjr6EbFSf00BS?usp=sharing" target="_blank">1ª Temporada</a></li>
    <li> <a href="https://drive.google.com/drive/folders/1mPbm5OFuGTduOAmpl4KKA5OOfDaV4FYr?usp=sharing" target="_blank">2ª Temporada</a></li>
      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

.banner {
    padding-bottom: 160px;
}

 </style>