@{
    ViewData["Title"] = "Prison Break";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-prison-break.jpg);}</style>
  <h3>Prison Break</h3>
  <p>A história gira em torno de Lincoln Burrows, um homem que foi sentenciado à morte por supostamente ter assassinado o irmão da vice-presidente dos EUA, e seu irmão, Michael Scofield,
       um engenheiro civil, que cria um plano para resgatá-lo da prisão antes que seja executado.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1I6zWP3BYhfxZkpe51Ms3eXF3tt0KcY4j?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/192Q04wmMmpbrRSdv7v3gSpHvEUWb1HRa?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1KgvOGZWEIjM28FxVGW8Nh4lgNPM_JVxF?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1cnK1L1AqKva_YbVTdxXlxM5f__cLuDbi?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/11wve_uQGG6MI9X5C0dTuqpprg0gzn2vx?usp=sharing" target="_blank">5ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>