@{
    ViewData["Title"] = "Breaking Bad";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-breaking-bad.jpg);}</style>
  <h3>Breaking Bad</h3>
  <p> Walter White, um homem brilhante frustrado em dar aulas para adolescentes do ensino médio enquanto lida com um filho sofrendo de paralisia cerebral, uma esposa grávida e dívidas intermináveis. White, então, é diagnosticado com um câncer no pulmão - o que o leva a sofrer um colapso emocional e abraçar uma vida de crimes para pagar suas dívidas hospitalares e dar uma boa vida aos seus filhos.
       Walter resolve produzir metanfetamina de alta pureza com seu ex-aluno, Jesse Pinkman.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1ok6eqP7qxDrWXV6-ODGBQGl_jnt72CKA?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1gGJZZZ4RAlSiq6O5V_mtrHqiaaocycTY?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/11e7ZIg3jroXRe3yRgHkqZIi7JaNnw5tl?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1DOkpFwjU-Cg5_FiDyys0AGRmLfXvrJqa?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1mc5I3dygqTy6U1OaWAjt-QpE-qfyr3b-?usp=sharing" target="_blank">5ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>