@{
    ViewData["Title"] = "Demolidor";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-demolidor.jpg);}</style>
  <h3>Demolidor</h3>
  <p>Advogado durante o dia, Matt Murdock usa à noite seus sentidos aguçados, adquiridos em um acidente na infância que lhe deixou cego,
       para combater o crime nas ruas de Hell's Kitchen, bairro onde cresceu em Nova York.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1CEc9kWvKkN6TRSmJZe1p6k4yfUfrS5Wi?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1VLioJn9Sim6WJ-rkcfIjiTJkVNr1LX_D?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1NYqLdmc5KSPoKodKrZ2HYFWRIgrIom7B?usp=sharing" target="_blank">3ª Temporada</a></li>
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

.banner{
    padding-bottom: 120px;
}

 </style>