@{
    ViewData["Title"] = "The Big Bang Theory";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-the-big-bang-theory.jpg);}</style>
  <h3>The Big Bang Theory</h3>
  <p>Big Bang Theory conta a história de Sheldon e Leonard, dois físicos que moram no apartamento da frente da aspirante a atriz Penny. Fazem parte da turma de nerds
       também Howard e Raj. Juntos, os contrastes entre eles produzem muitas risadas.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/15B1tZdeSTvGrvyGH457yZ7vNvJKtQs5q?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1pGavxemqdVwsNZJC9_V3blFGZW78WlB7?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1mX8kFX1t3UN71G3DhRtZmYvv6RkLjshj?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Mneaf2ZXuxSEh9urP8LPUNphbIcGaYFY?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/17tY1Fj_sEo2C_2eO9IoRJq446Gn9X666?usp=sharing" target="_blank">5ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1MaiijiIwKolmw-qpUVVWEZrN62infDcU?usp=sharing" target="_blank">6ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/18ZqoRCoAdi8pZcEhWDa51v3A4ebdo60x?usp=sharing" target="_blank">7ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/19XZ1ki2-qewgBZIQIjkxusalCi1Kl-EI?usp=sharing" target="_blank">8ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1madfHI-hiNaJY-3BTF13I_SJaD-pye3C?usp=sharing" target="_blank">9ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1YpsSqNDjhDDAON_HefS3T28QgDIjnNS3?usp=sharing" target="_blank">10ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1BjzYQ7S9i-bu9tweqas3fA0pBpvQRHd3?usp=sharing" target="_blank">11ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1NvNLR_L-LskI5bcWHy0GcHnWhIdkmwCC?usp=sharing" target="_blank">12ª Temporada</a></li>
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>