@{
    ViewData["Title"] = "Um Maluco no Pedaço";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-um-maluco-no-pedaco.jpg);}</style>
  <h3>Um Maluco no Pedaço</h3>
  <p>A série conta a história de Will (Will Smith), um jovem de origem humilde que se muda para um luxuoso bairro na Califórnia. ... Contudo, por ser um garoto humilde e não ligar para os estudos, 
      Will vive se comportando de maneira inadequada e provocando trapalhadas aos seus tios e primos na mansão.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1RVjegazJ8OCsR4a9f3NThDDwSS7KXPP8?usp=sharing" target="_blank">1ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1SiC8SWIpe0ghAOyCqS547abKUPk6ylDQ?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1JKliEI2MEPpBgf3r9pEVXOOkyN9qJzMd?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1TFB4yugOkN_ZVt7g2KCQotrhjMe7mjaG?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1mTypBefAYFRrgmirZ5JR_tCV9jUKxND1?usp=sharing" target="_blank">5ª Temporada</a></li>
    <li> <a href="https://drive.google.com/drive/folders/1Y1_tEG3_dXLz6PPR_i6QLh_cqwFThDbc?usp=sharing" target="_blank">6ª Temporada</a></li>
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>