@{
    ViewData["Title"] = "Lost";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-lost.jpg);}</style>
  <h3>Lost</h3>
  <p>Um avião cai em uma ilha deserta e logo um grupo de passageiros precisa lutar para sobreviver. Liderados pelo médico Jack Shephard (Matthew Fox) e pelo misterioso John Locke (Terry O'Quinn),
       eles irão descobrir que o local esconde perigosos segredos.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1Z0ZOOsqLOcLwZnnvKTdc89W0ek-JxUP0?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1iwKwxOxTxWdEZLKLMB6rRSfwHwQ-yhQ-?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1vSzNHM5s41_UinzKq49xUgtyXstx81Mk?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1O-CsDwTXKxmn4JxZyHlZjh7CZ1NWYwUX?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1YjT8xFRTL0ZjzwD6-E17QQH9pmmL_Sof?usp=sharing" target="_blank">5ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1fGjyfce0dUxjt12c5zQAWpln9KbAKAEQ?usp=sharing" target="_blank">6ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>