@{
    ViewData["Title"] = "Eu a Patroa e as Crianças";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-eu-a-patroa-e-as-criancas.jpg);}</style>
  <h3>Eu a Patroa e as Crianças</h3>
  <p>Tudo o que Michael Kyle (Damon Wayans) quer é ter uma vida tradicional com sua família. Mas sua esposa, a comerciante Janet 'Jay' (Tisha Campbell-Martin),
       o filho que é fã de rap e passa longe de ser o gênio da família, Michael Jr.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1rLOZtUvwtph_xchsMX_yW7jHjQMsohQq?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1iIpNQhYrU_wYS-mfWjCxcKll2ou7KvVs?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1kSe_QXypREJk9PwrTltd4B416rEOFOso?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/1AaEx04lWJ_2Jwy8P9_q1lyQq4YKfituc?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1ywdWDBzXHUe1jvE3GWRbWrAG8eSy6eog?usp=sharing" target="_blank">5ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>