@{
    ViewData["Title"] = "Frontier";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-frontier.jpg);}</style>
  <h3>Frontier</h3>
  <p>A série fala sobre o comércio de peles na América do Norte no final do século XVIII no Canadá, tendo como protagonista Declan Harp (interpretado por Jason Momoa), um criminoso que é meio irlandês, meio Cree,
       que luta contra o monopólio da Companhia da Baía de Hudson sobre o comércio de peles.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1Gg-oGhBvmcw50SAW6D1ATvI7g52J4vUH?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Gg-oGhBvmcw50SAW6D1ATvI7g52J4vUH?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/148h8x0ZsJbdQT8Aa4MFDJIBwIMOyBcXD?usp=sharing" target="_blank">3ª Temporada</a></li>
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

.banner{
    padding-bottom: 120px;
}

 </style>