@{
    ViewData["Title"] = "How I Met Your Mother";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-how-i-met-your-mother.jpg);}</style>
  <h3>How I Met Your Mother</h3>
  <p>Em 2030, o arquiteto Ted Mosby (Josh Radnor) conta a história sobre como conheceu a mãe dos seus filhos. Ele volta no tempo para 2005,
       relembrando suas aventuras amorosas em Nova York e a busca pela mulher dos seus sonhos.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1T7sVuJxVaSZw6Q08kVtJvYTYyuA7EneP?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1MQW9F0qrA7fgXCJ-HaSyeUhggoFEOlzN?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1MQW9F0qrA7fgXCJ-HaSyeUhggoFEOlzN?usp=sharing" target="_blank">3ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1Cm0cDqq7DPWPtfuTZgSBsgxctQV5Cc-j?usp=sharing" target="_blank">4ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/15GVmgmM2QXL6OmpZWrCz1UH0JOdq-mQY?usp=sharing" target="_blank">5ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1KsBUDLA6gEwO8SOtXV1mnFnNQZMNoZtF?usp=sharing" target="_blank">6ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/19S5Q5JPJqejY-C0IIPTfEteGrR77Ofwq?usp=sharing" target="_blank">7ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1wiYhQ2WkdzHBnvoCOOm-dcL72sHxmK8m?usp=sharing" target="_blank">8ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1vcY-ZRcLUMajz1D8uT65Gso5hIKCPdEa?usp=sharing" target="_blank">9ª Temporada</a></li>
     
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}

 </style>