@{
    ViewData["Title"] = "Kenan e Kel";
}

<div class="banner">
  <style>.banner{background-image: url(../banners/banner-kenan-e-kel.jpg);}</style>
  <h3>Kenan e Kel</h3>
  <p>Kenan & Kel é uma série de televisão americana, uma sitcom do gênero comédia de situação estrelada por Kenan Thompson e Kel Mitchell. ... A trama gira em torno de Kenan Rockmore (Kenan Thompson) que é o garoto esperto,
       e seu melhor amigo Kel Kimble (Kel Mitchell) que é o atrapalhado e inseparável amigo de Kenan.</p>
      
 <ul class="series-list">
     <li><a href="https://drive.google.com/drive/folders/1ou0n7Zhcxtqiwj6PjeTCdkrg3zFruBOf?usp=sharing" target="_blank">1ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/15lRzK5wGvvcsHgFmcJVZF3wDPRNeSO3q?usp=sharing" target="_blank">2ª Temporada</a></li>
     <li><a href="https://drive.google.com/drive/folders/1tunzdk1i3gCnTpnTyxlDf87LyoLCBc16?usp=sharing" target="_blank">3ª Temporada</a></li>
    <li><a href="https://drive.google.com/drive/folders/11kb0vZ7WDUm2vQu8Z7GIlEgoMa6u9jik?usp=sharing" target="_blank">4ª Temporada</a></li>

      
 </ul>
 
 </div>

 <style>
     .series-list{
    list-style: none;
}

.series-list a{
text-decoration: none;
}

.series-list a:hover{
    color:#afafaf;
}

.series-list a{
line-height: 40px;
color: #EFEFEF;
font-family: 'Amiko', sans-serif;
font-size: 15px;
font-weight: bold;
}


 </style>