* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.nav-bar {
  height: 70px;
  width: 100%;
  background-color: #311b92;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10px;
  padding: 10px;
}

.logo img {
  height: auto;
  width: 150px;
}

.nav-icons {
  width: 25px;
  height: 25px;
}

input[type="text"] {
  outline: none;
}

.nav-links {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: lighter;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  margin: 0 10px;
}

.nav-links:hover {
  background-color: #26127c;
}

#user-button {
  background-image: linear-gradient(#750bd6, #4406cd, #2d04ca);
  -webkit-box-shadow: 0px 0px 15px -6px #000000;
  box-shadow: 0px 0px 15px -6px #000000;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  outline: none;
  margin: 0 10px;
  padding: 10px 20px;
  color: #fff;
  display: inline-flex;
  place-items: center;
  font-size: 14px;
}

#user-button:hover {
  -webkit-box-shadow: 0px 0px 15px -3px #000000;
  box-shadow: 0px 0px 15px -3px #000000;
}

#user-button img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.secondary-banner {
  background-image: url(img/banner-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background: cover;
  width: 100%;
  height: 300px;
  display: none;
}

.primary-banner {
  height: calc(100vh - 70px);
  width: 100%;
  background-image: url(img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 30px;
  font-family: "Amiko", sans-serif;
  display: flex;
  align-items: center;
}

.banner-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 40px;
}

.banner-items h3 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  text-align-last: center;
  grid-column: 1/2;
}

.banner-items p {
  font-size: 15px;
  color: #d7d7d7;
  line-height: 30px;
  text-align: center;
  text-align-last: center;
  grid-column: 1/2;
  margin-bottom: 10px;
}

.banner-buttons {
  display: flex;
  gap: 20px;
  grid-column: 1/2;
}

.banner-buttons button {
  font-size: 20px;
  color: #ffffff;
  background-color: #4527a0;
  outline: none;
  border: none;
  height: 50px;
  width: 160px;
  border-radius: 20px;
  background-image: linear-gradient(#750bd6, #4406cd, #2d04ca);
  cursor: pointer;
}

.banner-buttons button:hover {
  -webkit-box-shadow: 0px 0px 15px 1px #2a04c9;
  box-shadow: 0px 0px 15px 1px #2a04c9;
}

.destaque-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destaque-content img {
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}

.destaque-content p {
  font-family: "Amiko", sans-serif;
  font-size: 25px;
  color: #000000;
  width: 70%;
  text-align: center;
}

.destaques {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 30px;
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer {
  background-color: #311b92;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

footer p {
  font-family: "Amiko", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

@media screen and (max-width: 860px) {
  #nav-link-pedidos {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .busca {
    display: none;
  }

  .nav-bar {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto-fit);
  }

  .logo {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .nav-links-content {
    grid-row: 2/3;
    place-self: start;
  }

  .secondary-links {
    grid-row: 2/3;
  }

  .title select {
    display: none;
  }

  .title h3 {
    margin: 0 auto;
  }

  .login a {
    display: none;
  }

  .primary-banner {
    height: auto;
    background-image: none;
    background-color: #000000;
    padding: 40px 20px;
  }

  .banner-items {
    grid-template-columns: 1fr;
  }

  .secondary-banner {
    display: block;
  }

  .logo img {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  #nav-link-search {
    display: none;
  }

  .nav-links {
    margin: 0 5px;
  }

  .nav-icons {
    height: 20px;
    width: 20px;
  }

  .logo img {
    height: auto;
    width: 120px;
  }

  #user-button {
    font-size: 14px;
  }
}

#body-filmes {
  background: #212121;
  height: 100%;
  width: 100%;
}

.title {
  padding: 60px 80px 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h3 {
  font-family: "Amiko", sans-serif;
  color: #ffffff;
  font-size: 18px;
}

.title select {
  background: transparent;
  border: solid 2px #ffffff;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-family: "Amiko", sans-serif;
  color: #ffffff;
  font-size: 15px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.title select:hover {
  background-color: #6e6e6e;
}

.title select option {
  background: #212121;
}

hr {
  width: 90%;
  transform: translateX(5%);
  border: solid 1px #525252;
  margin-bottom: 50px;
}

.grid-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-template-rows: repeat(auto-fit, 320px);
  justify-items: center;
  justify-content: center;
  padding-bottom: 45px;
}

.capas {
  overflow: hidden;
  margin-bottom: 40px;
  cursor: pointer;
}

.capas img {
  width: 150px;
  height: 230px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.capas img:hover {
  border: 1px solid white;
}

.capas p {
  font-family: "Amiko", sans-serif;
  color: #ffffff;
  font-size: 15px;
  width: 150px;
}

.pagination {
  text-align: center;
  margin-bottom: 20px;
}

.pagination a {
  color: white;
  font-family: "Amiko", sans-serif;
  text-decoration: none;
  background-color: #676767;
  background-position: center;
  border-radius: 20px;
  padding: 11px 16px 10px 15px;
  text-align: center;
  margin-right: 10px;
}

.pagination a:hover {
  background-color: #4527a0;
}

.pagination a.active {
  background-color: #4527a0;
}

.descricao-pedidos {
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.descricao-pedidos img {
  width: 220px;
  height: 140px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.descricao-pedidos p {
  font-family: "Amiko", sans-serif;
  color: #ffffff;
  font-size: 15px;
  width: 40%;
  line-height: 28px;
}

.pedidos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pedidos form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
}

.pedidos label {
  font-family: "Amiko", sans-serif;
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
}

.pedidos-input {
  background: #676767;
  border-radius: 10px;
  padding: 10px;
  font-family: "Amiko", sans-serif;
  color: white;
  outline: none;
  resize: none;
  border: none;
  margin-bottom: 20px;
  font-size: 15px;
}

.pedidos-input:focus {
  background: #969696;
}

.input-extra {
  height: 40px;
  width: 100%;
}

.form-button {
  font-family: "Amiko", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-image: linear-gradient(#750bd6, #4406cd, #2d04ca);
  -webkit-box-shadow: 0px 0px 15px -6px #000000;
  box-shadow: 0px 0px 15px -6px #000000;
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form-button:hover {
  -webkit-box-shadow: 0px 0px 15px 1px #2a04c9;
  box-shadow: 0px 0px 15px 1px #2a04c9;
}

.aviso {
  font-family: "Amiko", sans-serif;
  position: relative;
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 50px;
}

.pedidos img {
  width: 300px;
  height: 240px;
}

@media screen and (max-width: 640px) {
  .descricao-pedidos p {
    width: 80%;
  }
}

@media screen and (max-width: 710px) {
  .pedidos img {
    display: none;
  }

  .pedidos form {
    width: 80%;
  }
}

@media screen and (max-width: 630px) {
  footer p {
    width: 50%;
  }
}

.banner iframe {
  outline: none;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 350px;
}

@media screen and (max-width: 910px) {
  .banner iframe {
    height: 250px;
  }
}

@media screen and (max-width: 710px) {
  .banner iframe {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .banner iframe {
    width: 80%;
  }

  .banner-buttons button {
    font-size: 16px;
    height: 40px;
    width: 120px;
  }
}

@media screen and (max-width: 420px) {
  .banner iframe {
    height: 150px;
  }
}

@media (max-width: 350px) {
  .secondary-links {
    display: none;
  }

  .nav-links-content {
    place-self: center;
  }
}
